nav {
  padding: 2rem;
}
div .col-sm-3 {
  height: 100VH;
  background-color: #ff00d0;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 1;
}
div .col-md-8 {
  margin-left: 400px;
  margin-top: 20px;
}
