nav {
  padding: 2rem 1rem;
  width: 350px;
}
nav ul {
  list-style: none;
}
nav ul a {
  padding: 10px;
  border-radius: 50%;
}
nav ul a:hover, nav ul a:active{
  background-color: black;
}
nav h1 a {
  color: black;
}
nav a:link, nav a:visited {
  color: white;
}
nav a:hover, nav a:active {
  color: yellow;
  text-decoration: none;
}
div .col-sm-3 {
  height: 100VH;
  background-color: #ff00d0;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 1;
}
div .col-md-8 {
  margin-left: 375px;
  padding-top: 2rem;
}
